body {

  margin: 0;
  background-color: #000000;
  color: #8A2BE2;
  position: absolute;
}

div {
  background-color: white;
  padding: 5px;
  margin: 10px;
  line-height: 10px;
  border-radius: 15px;
  text-align: center;
  width: 200px;
  position: fixed;

}

a {
    text-decoration: none;
    color: inherit;
}



/* NOTE: a:hover {
this makes color change when you hover over it so this could be an element of interactivity. 

} */
